/*  === CSS GERAL ===  */

html {
    font-family: 'bellefair';
    /* títulos 
    font-family: 'caesar dressing' 
    */
}


/* === HEADER === */

header {
    background-color: #C9CBC0;
    text-align: center;
}

header nav ul {
    padding: 1vw 10vw;
}

header nav ul li {
    padding: 1.2vw;
}


header nav ul li a.marc {
    color: #5F3A1F;
}

header nav ul li a:hover{
    color: #5F3A1F;
}

/*== BANNER ==*/

.banner{
    text-align: center;
    background: url(../src/curiosidades/fundos/fundo-banner.png) center/cover no-repeat;
    padding: 18vw;
    background-color: #96462e;
    padding-bottom: 24vw;
    z-index: 1;


}

.banner h2{
    font-size: 3rem;
    font-family: 'caesar dressing';
    color: #F8D794;
    margin-bottom: 20px;
}

.banner p{
    font-size: 1rem;
    color:#C9CBC0;
}

.fescritas {
    background: url(../src/curiosidades/fundos/banner-fescritas.png);
    background-repeat: no-repeat;
    background-position: center -170px;
    background-size: 100% 100%;

    position: relative;
    z-index: 2;
    margin-top: -190px;
    text-align: center;
}

.fescritas h2{
    padding-top: 45vw;
    font-family: 'caesar dressing';
    color: #5F3A1F ;
    font-size: 2rem;
}

.fescritas p{
   color: #914A38;
   font-size: 1rem;
   padding-top: 4vw;
}


.fescritas ul p{
   color:#C9CBC0 ;
}


.cards{
   list-style: none;
}


.cards li{
}




footer {
    background-color: #C9CBC0;
    padding: 5vw;
    line-height: 5vw;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    max-width: 25px;
    max-height: 25px;
}

@media only screen and (min-width: 600px) {
    header nav {
        display: flex;
        justify-content: space-between;
        padding: 2vw 4vw;
    }

    header nav ul {
        display: flex;
        padding: 0%;
        align-items: center;
    }

    header nav img {
        max-width: 115px;
    }
    footer {
        padding: 2vw 4vw;
        line-height: 3vw;
    }

} 