/*  === CSS GERAL ===  */

html {
    font-family: 'bellefair';
    /* títulos 
    font-family: 'caesar dressing' 
    */
    background-color: #914A38;
    text-align: center;
}


/* === HEADER === */

header {
    background-color: #C9CBC0;
    text-align: center;
}

header nav ul {
    padding: 1vw 10vw;
}

header nav ul li {
    padding: 1.2vw;
}


header nav ul li a.marc {
    color: #5F3A1F;
}

header nav ul li a:hover{
    color: #5F3A1F;
}
/*=== SECTION.BNR ===*/
section.bnr{
    text-align: center;
}
section.bnr h2{
    font-size: 2rem;
    text-align: center;
    font-family: "Caesar Dressing";
    color:#F8D794;
    margin:7vw 0vw 0vw 0vw;
}
/* === SECTION.VETOR === */
.vetor div.geral{
    display: flex;
    gap: 10px;
    margin: 7vw 7vw 2vw 7vw;
    border-radius: 15px;
    background-color: #F8D794;
}
section.vetor p.principal{
    background-image: url(../src/jogo/mobile/background-banner.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    padding: 25vw 7vw 15vw 7vw;
     color: #914A38;
     text-align: center;

}
section.vetor p span{
   font-size: 1.9rem;
}
section.vetor div{
    margin: 0 0 5vw 0;
}

.carrossel {
  position: relative;
  max-width: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.slides {
  width: 100%;
}

.slide {
  display: none; /* Esconde todas as imagens por padrão */
  width: 100%;
  border-radius: 10px;
}

.slide.ativo {
  display: block; /* Mostra apenas a imagem com a classe 'ativo' */
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.anterior { left: 10px ;
            color: #914A38;}
.proximo { right: 10px; 
          color: #914A38;}

section.vetor div.slides img{
    text-align: center;
    padding: 5vw;
    
}
section.vetor div.vetor p{
    font-size: 1.7rem;
    text-align:  right;
    padding: 0 8% 0 8%;
    font-family: "Caesar Dressing";
    margin-top: 5vw;
    color:#3F6B76;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

/* === Section.Jogos === */
.jogos h2{
    font-size: 2rem;
    text-align: center;
    font-family: "Caesar Dressing";
    color:#F8D794;
    margin:10vw 0vw 10vw 0vw;
}
.jogos ul li{
  background: 
    url(../src/jogo/papiro-vertical.png) left top no-repeat,
    #f0f0f0; /* Cor de fundo no final */
    background-size: 400px 200px, 50% auto;
}

.jogos img {
    width: 50%;
}

.jogos {
    text-align: center;
}

.jogos h3 {
    font-size: 1.5rem;
    margin: 2vw 0vw 2vw 0vw;
}

.jogos ul li.senet {
    background-color: #C99565;
    padding: 5vw 3vw 7vw 3vw;
    color: #5F3A1F;
    font-size: 1.1rem;
    font-weight: 600;
}
.jogos ul li.caes {
    margin: 7vw 0vw 7vw 0vw;
    background-color: #3F6B76;
    padding: 5vw 3vw 7vw 3vw;
    font-size: 1.1rem;
    font-weight: 600;
    color: #F8D794;
}

.jogos ul li p {
    text-align: center;
    padding: 0 20% 0 20%;
    margin: 3vw 0 3vw 0;
}
.jogos ul li.mehen {
    background-color: #F8D794;
    color: #5F3A1F;
    padding: 5vw 3vw 7vw 3vw;
     font-size: 1.1rem;
    font-weight: 600;
    margin: 7vw 0vw 7vw 0vw;
}
/* === section.final=== */
.final h2 {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Caesar Dressing";
    color:#F8D794 ;
    margin: 3vw 0vw 3vw 0vw;
}
.final p{
    color: #C9CBC0;
    font-size: 0.9rem;
    padding: 0 15% 0 15%;
    margin: 3vw 0vw 7vw 0vw;
}
.final a{
    background-color: #3F6B76;
    color: #F8D794;
    padding: 3vw 9vw 3vw 9vw;
    border-radius: 20px;
    display: inline-block;
    margin: 0vw 0vw 10vw 0vw;
}
.final h3{
    background-image: url(../src/jogo/mobile/background-final.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15vw 15vw 15vw 15vw;
     font-family: "Caesar Dressing";
     color: #F8D794;
     font-size: 1.5rem;
}
footer {
    background-color: #C9CBC0;
    padding: 5vw;
    line-height: 5vw;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer img {
    max-width: 25px;
    max-height: 25px;
}

footer {
    background-color: #C9CBC0;
    padding: 5vw;
    line-height: 5vw;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    max-width: 25px;
    max-height: 25px;
}

@media only screen and (min-width: 600px) {
    header nav {
        display: flex;
        justify-content: space-between;
        padding: 2vw 4vw;
    }

    header nav ul {
        display: flex;
        padding: 0%;
        align-items: center;
    }

    header nav img {
        max-width: 115px;
    }
    footer {
        padding: 2vw 4vw;
        line-height: 3vw;
    }
} 