/* === CSS GERAL === */

html, body {
    font-family: 'bellefair';
    /* títulos 
    font-family: 'caesar dressing' 
    */
    background-color: #C99565;
       width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
     scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}


/* === HEADER === */

header {
    background-color: #C9CBC0;
    text-align: center;
}

header nav {
  z-index: 2;
  position: relative;
}

header nav ul {
    padding: 1vw 10vw;
}

header nav ul li {
    padding: 1.2vw;
}

header nav ul li a.marc {
    color: #5F3A1F;
}

header nav ul li a:hover {
    color: #5F3A1F;
}

section.banner {
    background: linear-gradient(#3F6B76, #C99565);
}

section.banner p {
    color: #C9CBC0;
    padding: 15vw 10vw 0 10vw;
    z-index: 1;
    font-weight: bold;
    transform: rotate(-15deg);
    font-size: 1.05rem;
}

section.banner p.direita {
    transform: rotate(15deg);
}

section.banner h2 {
    color: #C9CBC0;
    font-family: 'caesar dressing';
    font-size: 3rem;
    text-align: center;
    padding: 0 0 4vw 0;
}

section.banner div {
    display: flex;
    justify-content: space-between;
}

section.banner img {
    margin-top: -75vw;
    padding: 0%;
    z-index: 0;
}

section.trajetoria { 
    background: url(../src/inicio/ankh-papiro.png)no-repeat, url(../src/inicio/ondas.png);
    background-position: center 25vw, center 100%;
    background-size: cover;
}

section.trajetoria h2 {
    color: #5F3A1F;
    font-size: 1.5rem;
    padding: 5vw 10vw 20vw 10vw;
    text-align: center;
}

section.trajetoria p {
    text-align: center;
    padding: 9vw 10vw;
    color: #F8D794;
}

section.nome {
    padding: 10vw 10vw;
    text-align: center;
}

section.nome p {
    color: #5F3A1F;
    padding: 11vw 6vw;
    font-weight: bold;
}

section.nome h2 {
    font-family: 'caesar dressing';
    font-size: 1.5rem;
    color: #5F3A1F;
}

footer {
    background-color: #C9CBC0;
    padding: 5vw;
    line-height: 5vw;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    max-width: 25px;
    max-height: 25px;
}

@media only screen and (min-width: 600px) {
    header nav {
        display: flex;
        justify-content: space-between;
        padding: 2vw 4vw;
    }

    header nav ul {
        display: flex;
        padding: 0%;
        align-items: center;
    }

    header nav img {
        max-width: 115px;
    }

        footer {
        padding: 2vw 4vw;
        line-height: 3vw;
    }

}

